<!DOCTYPE html>
<html lang="vi"
      th:replace="~{layout/main :: mainLayout(~{::title}, ~{::main})}"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đặt hàng | SLY</title>
</head>
<body>
<main class="container mx-auto flex flex-col gap-4 p-4">
    <nav class="mb-4 text-sm text-gray-500">
        <a class="hover:text-red-500" href="/static">Trang chủ</a>
        <span class="mx-1">/</span>
        <span>Giỏ hàng</span>
        <span class="mx-1">/</span>
        <span class="text-red-500">Đặt hàng</span>
    </nav>

    <h1 class="my-2 text-center text-3xl font-bold">Thông tin đơn hàng</h1>
    <form class="flex flex-wrap justify-center gap-4" action="/orders" method="post"
          th:object="${createRequest}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <div class="grow basis-[50%]">
            <h2 class="text-lg font-bold">Thông tin giao hàng</h2>
            <div class="vstack flex flex-col justify-between gap-3">
                <div class="flex flex-col gap-2">
                    <label class="font-semibold" for="name">Tên khách hàng</label>
                    <input class="peer my-input" type="text" id="name" autocomplete="name" readonly th:value="${name}"/>
                </div>

                <div class="flex flex-col gap-2">
                    <label class="font-semibold" for="phone">Số điện thoại</label>
                    <input class="peer my-input" type="tel" id="phone" readonly th:value="${phone}"/>
                </div>

                <div class="flex flex-col gap-2">
                    <label class="font-semibold" for="city">Thành phố/Tỉnh</label>
                    <input class="peer my-input"
                           type="text"
                           id="city"
                           autocomplete="address-level1"
                           required
                           th:field="*{orderShippingAddress.city}"/>
                    <span class="hidden text-red-500 peer-invalid:block">Thành phố/Tỉnh không được để trống</span>
                    <span th:errorclass="text-red-500" th:errors="*{orderShippingAddress.city}"></span>
                </div>

                <div class="flex flex-col gap-2">
                    <label class="font-semibold" for="district">Quận/Huyện</label>
                    <input class="peer my-input"
                           type="text"
                           id="district"
                           autocomplete="address-level2"
                           th:field="*{orderShippingAddress.district}"/>
                    <span class="hidden text-red-500 peer-invalid:block">Quận/Huyện không được để trống</span>
                    <span th:errorclass="text-red-500" th:errors="*{orderShippingAddress.district}"></span>
                </div>

                <div class="flex flex-col gap-2">
                    <label class="font-semibold" for="ward">Phường/Xã</label>
                    <input class="peer my-input"
                           type="text"
                           id="ward"
                           autocomplete="address-level3"
                           required
                           th:field="*{orderShippingAddress.ward}"/>
                    <span class="hidden text-red-500 peer-invalid:block">Phường/Xã không được để trống</span>
                    <span th:errorclass="text-red-500" th:errors="*{orderShippingAddress.ward}"></span>
                </div>

                <div class="flex flex-col gap-2">
                    <label class="font-semibold" for="street">Địa chỉ</label>
                    <input class="peer my-input"
                           type="text"
                           id="street"
                           autocomplete="street-address"
                           required
                           th:field="*{orderShippingAddress.address}"/>
                    <span class="hidden text-red-500 peer-invalid:block">Địa chỉ không được để trống</span>
                    <span th:errorclass="text-red-500" th:errors="*{orderShippingAddress.address}"></span>
                </div>

                <div class="flex flex-col gap-2">
                    <label class="font-semibold" for="note">Ghi chú</label>
                    <textarea
                            class="rounded-md border border-gray-300 px-4 py-2 hover:border-red-500 focus:outline-red-500"
                            th:field="*{note}"
                            id="note">
                    </textarea>
                </div>

                <div class="mt-4">
                    <h2 class="text-lg font-bold">Phương thức thanh toán</h2>
                    <div class="flex items-center gap-2">
                        <input class="group accent-red-500 focus:outline-red-500 nth-[n+2]:ms-4"
                               type="radio"
                               name="paymentMethod"
                               id="sepay"
                               value="SEPAY"
                               checked
                        />
                        <label for="sepay">Chuyển khoản ngân hàng</label>
                    </div>
                    <p class="text-sm">Quét mã QR để chuyển khoản</p>
                </div>
            </div>
        </div>

        <div class="flex grow basis-[48%] flex-col gap-2">
            <h2 class="text-lg font-bold">Chi tiết đơn hàng</h2>
            <table>
                <thead class="border-b border-gray-300">
                <tr>
                    <th class="text-center">Sản phẩm</th>
                    <th class="text-end">Đơn giá</th>
                    <th class="text-end">Số lượng</th>
                    <th class="text-end">Tạm tính</th>
                </tr>
                </thead>
                <tbody class="align-middle">

                <th:block th:if="${cart.totalQuantity > 0}">
                    <tr th:each="item : ${cart.items}">
                        <td>
                            <a class="flex flex-row items-center gap-2"
                               th:href="@{/products/{id} (id=${item.productId})}" }>
                                <img th:src="@{${imageContainerUrl} + ${item.imageFile}}"
                                     loading="lazy"
                                     th:alt="${item.productName}"
                                     class="w-[10vw] lg:w-[3vw]"
                                />
                                <span th:if="item.sizeName == null" th:text="${item.productName}"></span>
                                <span th:unless="item.sizeName == null"
                                      th:text="${item.productName + ' (' + item.sizeName + ')'}"></span>
                            </a>
                        </td>
                        <td class="text-right font-bold">
                            <p th:text="${#numbers.formatDecimal(item.unitPrice, 0, 'POINT', 0, 'COMMA') + ' ₫'}"></p>
                        </td>
                        <td class="text-right">
                            <p th:text="${'x' + item.quantity}"></p>
                        </td>
                        <td class="text-right font-bold">
                            <p th:text="${#numbers.formatDecimal(item.unitPrice * item.quantity, 0, 'POINT', 0, 'COMMA') + ' ₫'}"></p>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>

            <p class="border-b border-gray-300 font-bold">Cộng giỏ hàng</p>
            <div class="flex justify-between border-b border-gray-300">
                <p class="py-1">Tạm tính</p>
                <p class="py-1 font-bold"
                   th:text="${#numbers.formatDecimal(cart.subtotal, 0, 'POINT', 0, 'COMMA') + ' ₫'}">
                </p>
            </div>
            <div class="flex justify-between border-b border-gray-300">
                <p class="py-1">Phí giao hàng</p>
                <p class="py-1">Giao hàng miễn phí</p>
            </div>
            <div class="flex justify-between border-b border-black">
                <p class="py-1">Tổng đơn hàng</p>
                <p class="py-1 font-bold"
                   th:text="${#numbers.formatDecimal(cart.subtotal, 0, 'POINT', 0, 'COMMA') + ' ₫'}">
                </p>
            </div>

            <button class="my-btn-primary" type="submit">
                <i class="fa fa-truck-fast"></i>
                <span>Đặt hàng & Thanh toán</span>
            </button>

            <div class="hstack mt-3 flex flex-wrap justify-center md:justify-between">
                <a class="flex items-center gap-2 self-start py-2 hover:text-red-500" href="/products">
                    <i class="fa fa-shop"></i>
                    <span>Quay lại cửa hàng</span>
                </a>
                <a class="flex items-center gap-2 self-start py-2 hover:text-red-500" href="/cart">
                    <i class="fa fa-cart-shopping"></i>
                    <span>Quay lại giỏ hàng</span>
                </a>
            </div>
        </div>
    </form>
</main>
</body>
</html>