<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<footer class="mt-5 px-3 text-center" th:fragment="footer">
    <p class="mb-1 text-2xl">THEO DÕI SLY NGAY</p>
    <ul class="flex justify-center space-x-4">
        <li class="p-2">
            <a class="text-sm hover:text-red-500" href="#">
                <i class="fa-brands fa-facebook"></i>
                <span> FACEBOOK</span>
            </a>
        </li>
        <li class="p-2">
            <a class="text-sm hover:text-red-500" href="#">
                <i class="fa-brands fa-tiktok"></i>
                <span> TIKTOK</span>
            </a>
        </li>
        <li class="p-2">
            <a class="text-sm hover:text-red-500" href="#">
                <i class="fa-brands fa-instagram"></i>
                <span> INSTAGRAM</span>
            </a>
        </li>
    </ul>

    <hr class="my-1"/>
    <ul class="flex flex-wrap justify-center">
        <li class="mx-auto p-2">
            <a class="hover:text-red-500" href="/privacy-policy">CHÍNH SÁCH BẢO MẬT</a>
        </li>
        <li class="mx-auto p-2">
            <a class="hover:text-red-500" href="/refund-policy">CHÍNH SÁCH ĐỔI TRẢ</a>
        </li>
        <li class="mx-auto p-2">
            <a class="hover:text-red-500" href="/about-us">HỆ THỐNG CỬA HÀNG</a>
        </li>
    </ul>

    <address class="mt-3 text-sm">
        <span>Công ty TNHH Thương Mại và Dịch Vụ SLY</span>
        <br/>
        <span>123 Đường ABC, Phường XYZ, Quận 123, TP. HCM</span>
        <br/>
        <span>Điện thoại: </span>
        <a class="hover:text-red-500" href="tel:+84868635209">+84 68635209</a>
        <br/>
        <span>Email: </span>
        <a class="hover:text-red-500" href="mailto:cs@sly.vn">cs@sly.vn</a>
    </address>
    <p>
        <span th:text="'Copyright ' + ${#dates.year(#dates.createNow())} + '&copy;'"></span>
        <a class="hover:text-red-500" href="/static">SLY</a>
    </p>
</footer>
</body>
</html>