<!DOCTYPE html>
<html lang="vi"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<header class="fixed z-10 flex w-full items-center justify-between px-4 py-2" id="header" th:fragment="header">
    <div class="flex shrink grow basis-0 flex-row items-center gap-3">
        <button class="cursor-pointer duration-200 hover:text-red-500"
                onClick={toggleNavBar()}
                title="Mở menu"
                type="button">
            <i class="fa fa-bars"></i>
        </button>
        <form class="hidden md:flex" action="/products">
            <label>
                <span class="hidden">Từ khóa</span>
                <input class="border-b px-3 py-1"
                       name="query"
                       placeholder="Nhập từ khóa"
                       required
                       type="search"/>
            </label>
            <button class="cursor-pointer px-1 py-1 duration-100 hover:text-red-500"
                    title="Tìm kiếm"
                    type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>

    <h1 class="mb-0 basis-auto text-center">
        <a href="/">
            <img alt="LOGO SLY"
                 class="h-12"
                 src="/img/SLYLOGO_black-800x298.png"/>
            <span class="invisible">Sly clothing</span>
        </a>
    </h1>

    <div class="flex shrink grow basis-0 flex-row items-center justify-end gap-3">
        <div class="group relative">
            <a class="relative before:absolute before:top-full before:left-[0.15rem] before:z-10 before:hidden before:rotate-45 before:border-t-2 before:border-l-2 before:border-gray-500 before:bg-white before:p-1 group-hover:before:block"
               href="/cart"
               title="Giỏ hàng">
                <i class="fa fa-bag-shopping"></i>
                <span class="hidden md:inline"> Giỏ hàng</span>
            </a>

            <!--            Popup giỏ hàng-->
        </div>
        <!--Account-->
        <a class="cursor-pointer"
           sec:authorize="isAnonymous()"
           th:href="@{/login}"
           title="Tài khoản">
            <i class="fa fa-user"></i>
            <span class="hidden md:inline">Tài khoản</span>
        </a>

        <a class="cursor-pointer"
           sec:authorize="isAuthenticated()"
           th:href="@{/user}"
           title="Tài khoản">
            <i class="fa fa-user"></i>
            <span class="hidden md:inline" sec:authentication="name"></span>
        </a>
    </div>


</header>
</body>
</html>