<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<nav class="fixed top-0 z-30 h-dvh w-full flex-col duration-200 data-open:bg-black/50 not-data-open:invisible group"
     id="nav-bar"
     th:fragment="navBar">
    <div class="flex h-full w-full flex-col gap-4 overflow-auto bg-white/75 px-4 py-2 shadow-md backdrop-blur-md duration-200 md:w-2/5 lg:w-1/4 -translate-x-full group-data-open:translate-x-0">
        <!--Header-->
        <div class="flex items-center justify-between">
            <form action="/products" class="flex gap-2">
                <button class="cursor-pointer duration-200 hover:text-red-500" title="Tìm kiếm">
                    <i class="fa fa-search"></i>
                </button>
                <label>
                    <span class="hidden">Từ khóa tìm kiếm</span>
                    <input class="border-b px-3 py-1"
                           name="query"
                           placeholder="Nhập từ khóa"
                           required
                           type="search"/>
                </label>
            </form>
            <button class="aspect-square w-6 cursor-pointer duration-200 hover:bg-red-500 hover:text-white"
                    onClick="toggleNavBar()"
                    title="Đóng menu"
                    type="button">
                <i class="fa fa-close"></i>
            </button>
        </div>
        <!--Categories-->
        <ul class="flex flex-col gap-2">
            <th:block th:each="category : ${categories}">
                <th:block
                        th:replace="~{fragments/category-item::categoryItem(${category.key}, ${category.value})}"></th:block>
            </th:block>
        </ul>

        <!--Footer-->
        <div class="mt-auto">
            <ul class="text-sm">
                <li>
                    <a class="hover:text-red-500" href="/refund-policy">CHÍNH SÁCH ĐỔI TRẢ</a>
                </li>
                <li>
                    <a class="hover:text-red-500" href="/privacy-policy">CHÍNH SÁCH BẢO MẬT</a>
                </li>
                <li>
                    <a class="hover:text-red-500" href="/about-us">HỆ THỐNG CỬA HÀNG</a>
                </li>
            </ul>
            <div class="flex items-center justify-center gap-2">
                <a class="hover:text-red-500" href="#" title="Facebook">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a class="0 hover:text-red-500" href="#" title="TikTok">
                    <i class="fa-brands fa-tiktok"></i>
                </a>
                <a class="hover:text-red-500" href="#" title="Instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
            <p class="text-center">
                <span th:text="'Copyright ' + ${#dates.year(#dates.createNow())} + '&copy;'"></span>
                <a class="hover:text-red-500" href="/static">SLY</a>
            </p>
        </div>
    </div>
</nav>
</body>
</html>