/* DO NOT SERVE THIS FILE TO CLIENT */
@import "tailwindcss";

@source "../resources/templates/**/*.html";

* {
    font-family: Helvetica, "Segoe UI", Arial, sans-serif;
}

@keyframes fadeIn {
    from {
        visibility: visible;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        visibility: visible;
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@theme {
    --animate-fade-in: fadeIn 0.2s ease-in-out;
    --animate-fade-out: fadeOut 0.2s ease-in-out;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
    display: none;
}

a.active {
    color: var(--color-red-500);
}

button.my-btn-secondary {
    @apply flex items-center justify-center gap-2 rounded-md px-4 py-2 font-semibold duration-200 cursor-pointer not-disabled:focus:outline-offset-2 not-disabled:focus:outline-red-500 disabled:cursor-not-allowed disabled:opacity-50 border-red-500 border text-red-500 not-disabled:hover:text-white not-disabled:hover:bg-red-400 not-disabled:active:bg-red-600;
}

button.my-btn-primary {
    @apply flex items-center justify-center gap-2 rounded-md px-4 py-2 font-semibold duration-200 cursor-pointer not-disabled:focus:outline-offset-2 not-disabled:focus:outline-red-500 disabled:cursor-not-allowed disabled:opacity-50 bg-red-500 text-white not-disabled:hover:bg-red-400 not-disabled:active:bg-red-600;
}

button.my-btn-tertiary {
    @apply flex items-center justify-center gap-2 rounded-md px-4 py-2 font-semibold duration-200 cursor-pointer not-disabled:focus:outline-offset-2 not-disabled:focus:outline-red-500 disabled:cursor-not-allowed disabled:opacity-50 text-red-500 not-disabled:hover:text-red-400 not-disabled:active:text-red-600;
}

/* Webfont configs */
@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica'), url('webfonts/Helvetica.woff') format('woff');
}