MYSQL_DATABASE=storedb
MYSQL_USER=myuser
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

STORAGE_URL=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_VERIFY_SERVICE_SID=

ALLOWED_ORIGINS=
ALLOWED_METHODS=GET,POST,PUT,DELETE
ALLOWED_HEADERS=Content-Type,Authorization
ALLOW_CREDENTIALS=true
