# ======= LOCAL DOCKER COMPOSE ======= #
MYSQL_DATABASE=storedb
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# ======= APP SETTINGS ============== #
ALLOWED_ORIGINS=http://localhost:5173
ALLOWED_METHODS=GET,POST,PUT,DELETE
ALLOWED_HEADERS=Content-Type,Authorization
ALLOW_CREDENTIALS=true

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_VERIFY_SERVICE_SID=

AZURE_STORAGE_ACCOUNT=
AZURE_STORAGE_KEY=
AZURE_STORAGE_BLOB_ENDPOINT=http://localhost:10000

DATABASE_URL=jdbc:mysql://localhost:3306/storedb
DATABASE_USERNAME=
DATABASE_PASSWORD=

REDIS_URL=redis://localhost:6379
