<!DOCTYPE html>
<html lang="vi" th:replace="~{layout/main :: mainLayout(~{::title}, ~{::main})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chính sách bảo mật | SLY</title>
</head>
<body>
<main class="container mx-auto gap-4 p-4">
    <div class="flex flex-col gap-2">
        <h1 class="text-center text-3xl font-bold">CHÍNH SÁCH BẢO MẬT</h1>
        <hr class="text-gray-300"/>

        <h2 class="text-xl font-bold">Mục đích và phạm vi thu thập</h2>
        <p>
            &#8722; Việc thu thập dữ liệu chủ yếu trên website <a class="hover:text-red-500" href="/">sly.vn</a>
            bao gồm: họ tên, email, điện thoại, địa chỉ khách hàng trong mục liên hệ. Đây là các thông tin mà SLY cần
            thành viên cung cấp bắt buộc khi gửi thông tin nhờ tư vấn hay muốn mua sản phẩm và để
            <a class="hover:text-red-500" href="/">sly.vn</a> liên hệ xác nhận lại với khách hàng trên website nhằm đảm
            bảo quyền lợi cho cho người tiêu dùng.
        </p>
        <p>
            &#8722; Các thành viên sẽ tự chịu trách nhiệm về bảo mật và lưu giữ mọi hoạt động sử dụng dịch vụ dưới thông
            tin mà mình cung cấp và hộp thư điện tử của mình. Ngoài ra, thành viên có trách nhiệm thông báo kịp thời cho
            webiste <a class="hover:text-red-500" href="/">sly.vn</a> về những hành vi sử dụng trái phép, lạm dụng, vi
            phạm bảo mật, lưu giữ tên đăng ký và mật khẩu của bên thứ ba để có biện pháp giải quyết phù hợp.
        </p>

        <h2 class="text-xl font-bold">Phạm vi sử dụng thông tin</h2>
        <ul>
            <li>&#8722; Công ty sử dụng thông tin thành viên cung cấp để:</li>
            <li>
                <ul class="list-inside list-disc ps-4">
                    <li>Liên hệ xác nhận đơn hàng và giao hàng cho thành viên khi nhận được yêu cầu từ thành viên.</li>
                    <li>Gửi email tiếp thị, khuyến mại về hàng hóa do chúng tôi bán.</li>
                    <li>
                        Gửi các thông báo về các hoạt động trao của website
                        <a class="hover:text-red-500" href="/">sly.vn</a>.
                    </li>
                    <li>Liên lạc và giải quyết với người dùng trong những trường hợp đặc biệt.</li>
                    <li>
                        Không sử dụng thông tin cá nhân của người dùng ngoài mục đích xác nhận và liên hệ có liên quan
                        đến giao dịch tại Cửa hàng.
                    </li>
                </ul>
            </li>
            <li>
                &#8722; Khi có yêu cầu của cơ quan tư pháp bao gồm: Viện kiểm sát, tòa án, cơ quan công an điều tra liên
                quan đến hành vi vi phạm pháp luật nào đó của khách hàng.
            </li>
        </ul>

        <h2 class="text-xl font-bold">Thời gian lưu trữ</h2>
        <p>
            Dữ liệu cá nhân của thành viên sẽ được lưu trữ cho đến khi có yêu cầu ban quản trị hủy bỏ. Còn lại trong mọi
            trường hợp thông tin cá nhân thành viên sẽ được bảo mật trên máy chủ của
            <a class="hover:text-red-500" href="/">sly.vn</a>
        </p>
        <address>
            <p class="font-semibold">Công ty TNHH Thương Mại và Dịch Vụ SLY</p>
            <p>123 Đường ABC, Phường XYZ, Quận 123, TP. HCM</p>
            <p>
                Điện thoại:
                <a class="hover:text-red-500" href="tel:+84868635209">+84 68635209</a>
            </p>
            <p>
                Email:
                <a class="hover:text-red-500" href="mailto:cs@sly.vn">cs@sly.vn</a>
            </p>
        </address>

        <h2 class="text-xl font-bold">
            Phương tiện và công cụ để người dùng tiếp cận và chỉnh sửa dữ liệu cá nhân của mình.
        </h2>
        <p>
            Thành viên có quyền tự kiểm tra, cập nhật, điều chỉnh hoặc hủy bỏ thông tin cá nhân của mình bằng cách liên
            hệ với ban quản trị website
            <a class="hover:text-red-500" href="/">sly.vn</a> thực hiện việc này.<br/>
            Thành viên có quyền gửi khiếu nại về nội dung bảo mật thông tin đề nghị liên hệ Ban quản trị của website
            <a class="hover:text-red-500" href="/">sly.vn</a>. Khi tiếp nhận những phản hồi này,
            <a class="hover:text-red-500" href="/">sly.vn</a> sẽ xác nhận lại thông tin, trường hợp đúng như phản ánh
            của thành viên tùy theo mức độ, SLY sẽ có những biện pháp xử lý kịp thời.
        </p>

        <h2 class="text-xl font-bold">Cam kết bảo mật thông tin cá nhân khách hàng</h2>
        <ul>
            <li>
                &#8722; Thông tin cá nhân của thành viên trên
                <a class="hover:text-red-500" href="/">sly.vn</a> được
                <a class="hover:text-red-500" href="/">sly.vn</a> cam kết bảo mật tuyệt đối theo chính sách bảo vệ thông
                tin cá nhân của khách hàng. Việc thu thập và sử dụng thông tin của mỗi thành viên chỉ được thực hiện khi
                có sự đồng ý của khách hàng đó trừ những trường hợp pháp luật có quy định khác.
            </li>
            <li>
                Không sử dụng, không chuyển giao, cung cấp hay tiết lộ cho bên thứ 3 nào về thông tin cá nhân của thành
                viên khi không có sự cho phép đồng ý từ thành viên.
            </li>
            <li>
                &#8722; Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất mát dữ liệu cá nhân
                thành viên, <a class="hover:text-red-500" href="/">sly.vn</a> sẽ có trách nhiệm thông báo vụ việc cho cơ
                quan chức năng điều tra xử lý kịp thời và thông báo cho thành viên được biết.
            </li>
            <li>
                Bảo mật tuyệt đối mọi thông tin giao dịch trực tuyến của thành viên bao gồm thông tin hóa đơn kế hrefán
                chứng từ số hóa trên <a class="hover:text-red-500" href="/">sly.vn</a>
            </li>
            <li>
                &#8722; Ban quản lý <a class="hover:text-red-500" href="/">sly.vn</a> yêu cầu các cá nhân khi đăng
                ký/mua hàng phải cung cấp đầy đủ thông tin cá nhân có liên quan như: Họ và tên, địa chỉ liên lạc, email,
                điện thoại,…., và chịu trách nhiệm về tính pháp lý của những thông tin trên. Ban quản lý
                <a class="hover:text-red-500" href="/">sly.vn</a> không chịu trách nhiệm cũng như không giải quyết mọi
                khiếu nại có liên quan đến quyền lợi của thành viên đó nếu xét thấy tất cả thông tin cá nhân của thành
                viên đó cung cấp khi đăng ký ban đầu là không chính xác.
            </li>
        </ul>
    </div>
</main>

</body>
</html>