# ======= REQUIRED VARIABLES ============== #
SEPAY_USERNAME=
SEPAY_PASSWORD=
SEPAY_INVOICE_AUTH_URL=
SEPAY_INVOICE_CREATE_URL=
SEPAY_INVOICE_CHECK_URL=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
