<!DOCTYPE html>
<html lang="vi" th:fragment="mainLayout(title, children)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/favicon.png" rel="icon" type="image/png"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title th:replace="${title}">Sly clothing</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/unpoly@3.14.2/unpoly.min.css"
          integrity="sha384-w92USKrgJZk/UWqygsYAidMR0xAZqtQNp2sDSF8FkmR6tIJJeKHosVfDn74dWu+z" rel="stylesheet">
    <link href="/css/fontawesome/all.min.css" rel="stylesheet"/>
    <link href="/css/main.css" rel="stylesheet"/>
    <script async crossorigin="anonymous"
            integrity="sha384-hm4U+BjH9EP9Rfqe8tZoxm3smsG/jDE5SP8DDl4hNfeal+Q6yiGdxLW0C1aNVpP7"
            src="https://cdn.jsdelivr.net/npm/unpoly@3.14.2/unpoly.min.js"></script>
</head>
<body>
<th:block th:replace="~{layout/fragments/header::header}"></th:block>
<th:block th:replace="~{layout/fragments/nav::navBar}"></th:block>
<th:block th:replace="${children}"></th:block>
<th:block th:replace="~{layout/fragments/footer::footer}"></th:block>
<script>
    const navBar = document.getElementById("nav-bar");

    function toggleNavBar() {
        navBar.toggleAttribute("data-open");
    }

    function handleUnsafeClose(e) {
        if (e.target === navBar) {
            if (
                e.target === e.currentTarget ||
                e.target instanceof HTMLAnchorElement ||
                e.target instanceof HTMLButtonElement)
                navBar.toggleAttribute("data-open");
        }
    }

    navBar.addEventListener("click", handleUnsafeClose);
</script>

<script>
    // TODO: Tối ưu
    const header = document.getElementById("header");

    function handlePageScrolling() {
        if (window.scrollY >= window.innerHeight) {
            header.className = "fixed z-10 flex w-full items-center justify-between px-4 py-2 bg-white shadow-md";
        } else {
            header.className = "fixed z-10 flex w-full items-center justify-between px-4 py-2";
        }
    }

    if (location.pathname === "/") {
        window.addEventListener("scroll", handlePageScrolling);
    } else {
        header.className = "sticky top-0 z-10 flex w-full items-center justify-between px-4 py-2 bg-white shadow-md";
    }
</script>
</body>
</html>