<!DOCTYPE html>
<html lang="vi" th:replace="~{layout/main :: mainLayout(~{::title}, ~{::main})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập | SLY</title>
</head>
<body>
<main class="flex flex-col items-center justify-center">
    <form action="/dang-nhap" method="post"
          class="mt-4 flex w-10/12 flex-col gap-4 rounded-md border border-gray-300 p-4 md:w-5/12 lg:w-3/12">
        <h1 class="text-center text-2xl font-semibold">ĐĂNG NHẬP</h1>

        <div th:if="${param.error}">
            <span class="text-red-500" th:text="${param.message} ?: 'Đăng nhập thất bại'"></span>
        </div>

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <div class="flex flex-col gap-2">
            <label class="font-semibold" for="username">Số điện thoại đã đăng ký</label>
            <input class="peer my-input"
                   type="tel"
                   id="username"
                   name="username"
                   pattern="^0[2-9]\d{8}$"
                   required
                   autocomplete="tel"
                   autofocus/>
            <span class="hidden text-red-500 peer-invalid:block">Số điện thoại không hợp lệ</span>
        </div>

        <div class="flex flex-col gap-2">
            <label class="font-semibold" for="password">Mật khẩu</label>
            <input class="peer my-input"
                   type="password"
                   id="password"
                   name="password"
                   pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&_]).{8,}$"
                   required
                   autocomplete="current-password"/>
            <span class="hidden text-red-500 peer-invalid:block">Mật khẩu không hợp lệ</span>
        </div>

        <button class="my-btn-primary">ĐĂNG NHẬP</button>

        <div class="flex flex-wrap justify-between">
            <a class="hover:text-red-500" href="/dang-ky">Đăng ký tài khoản</a>
            <a class="hover:text-red-500" href="/khoi-phuc-mat-khau">Quên mật khẩu?</a>
        </div>
    </form>
</main>
</body>
</html>