<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/main :: mainLayout(~{::title}, ~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký tài khoản | SLY</title>
</head>
<body>
<main class="flex flex-col items-center justify-center">
    <form class="mt-4 flex w-10/12 flex-col gap-4 rounded-md border border-gray-300 p-4 md:w-5/12 lg:w-3/12"
          method="post"
          th:object="${request}">
        <h2 class="text-center text-2xl font-semibold">ĐĂNG KÝ TÀI KHOẢN</h2>

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <div class="flex flex-col gap-2">
            <label class="font-semibold" for="name">Tên khách hàng</label>
            <input class="peer my-input"
                   type="text"
                   id="name"
                   autocomplete="name"
                   autofocus
                   required
                   th:field="*{name}"/>
            <span class="hidden text-red-500 peer-invalid:block">Tên không được để trống</span>
            <span th:errorclass="text-red-500" th:errors="*{name}"></span>
        </div>

        <div class="flex flex-col gap-2">
            <label class="font-semibold" for="phone">Số điện thoại</label>
            <input class="peer my-input"
                   type="tel"
                   id="phone"
                   autocomplete="tel"
                   pattern="^0[2-9]\d{8}$"
                   required
                   th:field="*{phone}"/>
            <span class="hidden text-red-500 peer-invalid:block">Số điện thoại không hợp lệ</span>
            <span th:errorclass="text-red-500" th:errors="*{phone}"></span>
        </div>

        <div class="flex flex-col gap-2">
            <label class="font-semibold" for="password">Mật khẩu</label>
            <input class="peer my-input"
                   type="password"
                   id="password"
                   autocomplete="new-password"
                   pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&_]).{8,}$"
                   required
                   th:field="*{password}"/>
            <span class="hidden text-red-500 peer-invalid:block">Mật khẩu phải có ít nhất 8 ký tự và chứa ít nhất một chữ cái, một số và một ký tự đặc biệt.</span>
            <span th:errorclass="text-red-500" th:errors="*{password}"></span>
        </div>

        <div class="flex flex-col gap-2">
            <label class="font-semibold" for="password-retype">Nhập lại mật khẩu</label>
            <input class="peer my-input"
                   type="password"
                   id="password-retype"
                   required/>
            <span class="hidden text-red-500 peer-invalid:block">Mật khẩu không khớp nhau.</span>
        </div>

        <button class="my-btn-primary">ĐĂNG KÝ</button>

        <p>Đã có tài khoản? <a class="hover:text-red-500" href="/dang-nhap">Đăng nhập</a></p>
    </form>

    <script>
        const password = document.getElementById('password');
        const passwordReType = document.getElementById('password-retype');

        if (password instanceof HTMLInputElement)
            password.addEventListener('input', () => (passwordReType.pattern = password.value));
    </script>
</main>
</body>
</html>